{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-account' %}"><i class="im im-edit"></i>
              Edit</a>
            <img class="avatar avatar--xl dev__avatar" src="{{profile.poza_profil.url}}" />
            <h2 class="dev__name">{{profile.nume}} {{profile.prenume}}</h2>
            <p class="dev__title">Username:{{profile.username}}</p>
            <p class="dev__location">Email: {{profile.email}}</p>

          </div>
        </div>
      </div>
      <div class="column column--2of3">
        <div class="devInfo">
          <h3 class="devInfo__title">Despre mine</h3>
          <p class="devInfo__about">{{profile.bio}}</p>
        </div>
          <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'add-product' %}"><i
              class="im im-plus"></i>Adauga Produs</a>
        <div class="settings">
           <div class="settings">
          <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'add_shop' %}"><i
              class="im im-plus"></i> Adauga Magazin</a>
        </div>
          <h3 class="settings__title">Produse</h3>
          <!--ul>
            {% for product in products %}
              <li>{{ product.name }}</li>
            {% empty %}
              <li>You have no products.</li>
            {% endfor %}
          </ul-->
        </div>

        <!--table class="settings__table">
          {% for product in products %}
          <tr>
            <td class="settings__thumbnail">
              <a href="{% url 'product' project.id %}"><img src="{{product.product_image.url}}" alt="Project Thumbnail" /></a>
            </td>
            <td class="settings__tableInfo">
              <a href="{% url 'product' product.id %}">{{product.nume_produs}}</a>
              <p>{{project.description|slice:"150"}}</p>
            </td>
            <td class="settings__tableActions">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'update-project' project.id %}"><i
                  class="im im-edit"></i> Edit</a>
              <a class="tag tag--pill tag--main settings__btn"
                href="{% url 'delete-project'  project.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>
                Delete</a>
            </td>
          </tr>
          {% endfor %}
        </table-->
      </div>
    </div>
  </div>
</main>

{% endblock %}