{% extends 'main.html' %}
{% block content%}

<!-- Main Section -->
  <main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Cauta <span>Produse</span></h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="#" method="get">
            <div class="form__field">
              <label for="formInput#search">Search By Projects </label>
              <input class="input input--text" id="formInput#search" type="text" name="text"
                placeholder="Cauta dupa nume produs" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Cauta" />
          </form>
        </div>
      </div>
    </section>
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
          {% for product in products %}
          <div class="column">
            <div class="card project">
              <a href="{% url 'product' product.id %}" class="project">
                <img class="project__thumbnail" src="{{product.product_image.url}}" alt="project thumbnail" />
                <div class="card__body">
                  <h3 class="project__title">{{product.nume_produs}}</h3>
                  <p><a class="project__author" href="{% url 'product' product.id %}">Matei</a></p>
                  <p class="product--price">
                    <span style="font-weight: bold;">Pret: {{product.pret}}</span>
                  </p>
                </div>
              </a>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock content%}